# Compatible with Python 3.13
torch==2.5.0
ultralytics==8.3.11  
streamlit==1.33.0    
numpy==2.3.2         
Pillow==10.3.0
opencv-python==4.9.0.80
streamlit-webrtc==0.45.0
fpdf==1.7.2
requests==2.31.0
